[defaults]
# Stop asking to type "yes" for new server IPs
host_key_checking = False

[ssh_connection]
# Keep the SSH connection open and reuse it for all tasks
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s